*{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

nav{
  background-color: #dedede;
  padding: 20px 15%;
}

.side-right{
  width: 50%;
  float: right;
}

.main-left{
  width: 50%;
  float: left;
}

.main{
  background-color: #121212;
  margin-bottom: 20px;
}

.side{
  background-color: #232323;
}

.fg-light{
  color: #cdcdcd;
}
.fg-light-faded{
  color: #787878;
}

.bg-dark{
  background-color: #121212;
}

.station{
  background-color: #020202;
  min-width: 160px;
  width: 200px;
  text-align: center;
}

.station-group{
  background-color: #121212;
  margin-top: 5px;
  padding: 10px 0px;
}

.station-group label{
  font-size: 12px;
}

.station-group h6{
  margin-top: 5px;
}

.station-title{
  margin: 20px 0px
}

.container-station h3{
  height: 40px;
  vertical-align: middle;
}

.container-map{
  padding: 20px;
  text-align: right;
}


@media(min-width:200px){
  .flex-container{
    display: flex;
    justify-content: center;

  }
}


.box{
  margin: 5px;
}

.flex-child{

}

